html, body {
    margin: 0px;

    min-width: 100%
    min-height: 100%;

    background-color: #2e2e2e;
}

canvas {

    margin: 5px;
    width: 100%;
    height: 100%;

}


#container {
    margin: 2px;
    
    width: 100%;
    height: 100%;

    background-color: #2e2e2e;

    display: block;
}
